/* src/styles/global.css */

:root {
  --background-color: #121212;
  --card-background: #1e1e1e;
  --deep-black: #000000;
  --font-color: #e0e0e0;
  --accent-color: #00bfff;
  --green-tag: #32cd32;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* La regla para 'html' ha sido eliminada para prevenir el rebote del footer. */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

header {
  z-index: 1000;
}

main.site-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.card-background img,
.image-container img {
  background-color: var(--card-background);
  color: transparent;
}
img {
  color: transparent;
  background-color: transparent;
}
