---
import Layout from '../layouts/Layout.astro';
import LibraryManager from '../components/LibraryManager.svelte';
import { siteConfig } from '../site.config';
---

<Layout title={`Mi Biblioteca - ${siteConfig.shortName}`}>
  <main>
    <LibraryManager client:load />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: 80vh;
  }
</style>
