---
import Layout from '../layouts/Layout.astro';
import AgeGate from '../components/AgeGate.svelte';
import { siteConfig } from '../site.config';
---

<Layout title={`Verificación de Seguridad - ${siteConfig.shortName}`}>
  <main>
    <AgeGate client:load isVerificationPage={true} />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: 100vh;
    background: #000;
  }
</style>
