---
// src/components/AdminSeriesManager.astro

import AdminSeriesForm from './AdminSeriesForm.astro';
import AdminChapterList from './AdminChapterList.astro';

interface Chapter {
  id: number;
  chapter_number: number;
  title: string | null;
  telegram_file_id: string;
  url_portada: string | null;
}
interface Series {
  id: number;
  title: string;
  description: string;
  cover_image_url: string;
  slug: string;
  chapters: Chapter[];
  status: string | null;
  type: string | null;
  genres: string | null;
  author: string | null;
  artist: string | null;
  published_by: string | null;
  demographic: string | null;
  alternative_names: string | null;
  serialized_by: string | null;
  is_hidden: boolean;
  is_app_series: boolean;
}

interface Props {
  series: Series;
  r2PublicUrlAssets: string;
}

const { series, r2PublicUrlAssets } = Astro.props;
---

<details class="series-details">
  <summary>{series.title}</summary>
  <div class="series-content">
    <AdminSeriesForm series={series} />
    <AdminChapterList series={series} r2PublicUrlAssets={r2PublicUrlAssets} />
  </div>
</details>

<style>
  .series-details {
    background-color: #1a1a1a;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid #444;
    overflow: hidden;
    transition: border-color 0.2s;
    width: 100%;
    max-width: 100%;
  }
  
  .series-details:hover {
    border-color: var(--accent-color);
  }

  .series-details summary {
    padding: 0.75rem 1rem; /* Reducido de 1.2rem */
    font-size: 1.1rem; /* Un poco más pequeño */
    font-weight: bold;
    cursor: pointer;
    background-color: #222;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
  }

  .series-details summary::-webkit-details-marker {
    display: none;
  }

  .series-content {
    padding: 0.25rem 0.75rem; /* Padding superior e inferior reducido */
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 1rem;
    background-color: #161616;
    max-width: 100%;
  }

  @media (max-width: 1024px) {
    .series-content {
      grid-template-columns: 1fr; /* Una sola columna en tablets y móviles */
      gap: 1.5rem;
    }
  }
</style>
